<form action="/student/register" method="POST">
  <label for="name">Nome:</label>
  <input type="text" id="name" name="name" required> <br>
  
  <label for="parent">Responsável:</label>
  <input type="text" id="parent" name="parent" required> <br>
  
  <input type="submit" value="Enviar">
</form>
